{{ partial "header.html" . }}
{{ partial "subheader.html" . }}

	    <!-- Intro -->
	    <section id="top" class="one dark cover">
		<div class="container">
                    {{ partial "homepage/top/header.html" }}
                    {{ partial "homepage/top/footer.html" }}
		</div>
	    </section>

	    <!-- Portfolio -->
	    <section id="portfolio" class="two">
		<div class="container">
                    {{ partial "homepage/portfolio/header.html" }}
                    {{ partial "homepage/portfolio/footer.html" }}
		</div>
	    </section>

	    <!-- About Me -->
	    <section id="about" class="three">
		<div class="container">
                    {{ partial "homepage/about/header.html" }}
                    {{ partial "homepage/about/footer.html" }}
		</div>
	    </section>

	    <!-- Contact -->
	    <section id="contact" class="four">
		<div class="container">
                    {{ partial "homepage/contact/header.html" }}
                    {{ partial "homepage/contact/footer.html" . }}
		</div>
	    </section>

            {{ partial "footer.html" . }}
