#about-image {
  float: right;
  size: relative;
  width: 45%;
  margin-left: 2em;
}

#portfolio-image {
  float: left;
  size: relative;
  width: 45%;
  margin-right: 2em;
}

.lang-ru {
  font-family: sans-serif;
}

#main > section > .container > p {
  text-align: left;
}

.not-found #main {
  margin-left: 0;
}

.not-found #main section.one {
  height: 1000px;
}

#main .post-list {
  text-align: left;
}

.post {
  background-color: #f5fafa;
}

.post-date {
  font-size: 0.9em;
  font-style: italic;
}

#main > section.post {
  text-align: left;
}

#main > section.post ul,
.post-list ul,
#main > section.post ol,
.post-list ol {
  margin-left: 2em;
}

#main > section.post ul,
.post-list ul {
  list-style: disc;
}

#main > section.post ol,
.post-list ol {
  list-style: decimal;
}

#main > section.post p code,
#main > section.post ul code,
#main > section.post ol code {
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 0 3px;
  display: inline-block;
  font-size: 0.9em;
  font-family: Consolas, "Liberation Mono", "Lucida Console", "Droid Sans Mono", Courier, monospace;
}

#main > section.post pre {
  border: 1px solid #cacaca;
  font-size: 0.85em;
  font-family: Consolas, "Liberation Mono", "Lucida Console", "Droid Sans Mono", Courier, monospace;
  padding: 10px;
  overflow: auto;
  border-radius: 3px;
  background-color: #fafafb;
  margin: 2em 0;
}

#main > section.post pre code {
  white-space: pre;
}

#main > section.post .back-link {
  float: right;
}

#main > section.post .back-link a {
  border: none;
}
