{{ partial "header.html" . }}
{{ partial "subheader.html" . }}
{{ $baseurl := .Site.BaseURL }}

	    <section class="post">
		<div class="container">
                    <header>
                        <p class="back-link"><a class="icon fa-arrow-left" href="{{ $baseurl }}/post/">&nbsp; Back to Posts</a></p>
                        <h2>{{ .Title }}</h2>
                        <p class="post-date">{{ .Date.Format "Mon Jan 2, 2006" }}</p>
                    </header>

                    {{ .Content }}
		</div>
	    </section>

{{ partial "footer.html" . }}
